<app-default-login-layout
    title="Deletar Usuário por ID"
    primaryBtnText="Deletar"
    secondaryBtnText="Voltar"
    (submit)="submit()"
    (navigate)="backUsersPanel()"
    [disablePrimaryBtn]="!idForm.valid"
>
    <form [formGroup]="idForm">
        <app-primary-input
            formControlName="id"
            inputName="id"
            type="text"
            label="IdUsuário"
            placeholder="Idusuario"
        >
        </app-primary-input>        
    </form>
</app-default-login-layout>