<main>
    <section class="form-section">
        <h1>Advocacia</h1>
        <h1>&</h1>
        <h1>Associados</h1>
        <br>
        
       <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <img src="/assets/svg/escritorio-color.jpeg"/>
    </section>
</main>
