@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%; 
    }

    .main-section {
        gap: 4px;
        flex-grow: 0.7;
        background-image: url('/assets/svg/escritorio-color.jpeg');
        opacity: 0.7;
        max-width: 100%;
        height: auto;

        img{
            opacity: 0.0;            
            max-width: 100%;
            height: 1000px;
        }
    }

    .form-section {
        flex-grow: 0.4;
        padding: 0 35px;

        h1 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #2D4E55;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 30px;

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                font-size: 14px;
                color: #5e8189;
                font-weight: 400;
                text-transform: uppercase;

                div {
                    flex-grow: 1;
                    height: 2px;
                    background-color: #5e8189;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background: transparent;
                padding: 12px 24px;
                cursor: pointer;                
    
                &.data-user {
                  border: 1px solid $primary-color;
                  color: $primary-color;
                }
    
                &.file-upload {
                    border: 1px solid $primary-color;
                    color: $primary-color;
                }

                &.logout {
                  background-color: $primary-color;
                  color: white;
                  box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
              }
            }
        }
    }
}