<main>
  <section class="form-section">
      <h1>Advocacia</h1>
      <h1>&</h1>
      <h1>Associados</h1>
      <br>
      
     <h2>Painel de Gestão de Usuários</h2>
     <ng-content></ng-content>
     <div class="btn-wrapper">
          <button 
            class="data-user" 
            (click)="submitAllUsers()"
          >
            Consultar Todos os Usuários
          </button>
          <div class="divider">
            <div></div>
            <span>ou</span>
            <div></div>
          </div>
          <button 
              class="data-user" 
              (click)="navigateToUserId()"
          >
              Consultar Usuário por ID
          </button>
          <div class="divider">
            <div></div>
            <span>ou</span>
            <div></div>
          </div>
          <button
            class="data-user"
            (click)="navigateToUserUpdate()">
            Atualizar Senha de Usuário
          </button>
          <div class="divider">            
            <div></div>
            <span>ou</span>
            <div></div>
          </div>
          <button
            class="data-user"
            (click)="navigateToUserDelete()">
            Deletar Usuário por ID
          </button>
          <div class="divider">            
            <div></div>
            <span>ou</span>
            <div></div>
          </div>
          <button
              class="logout"
              (click)="backHomePage()">
              Voltar
            </button>
     </div>
  </section>
  <section class="main-section">
      <img src="/assets/svg/escritorio-color.jpeg"/>
  </section>
</main>
