@import "../../../styles/variables.scss";


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;

    h2 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 45px;
        align-items: center;
        margin-top: auto;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 30px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background: transparent;
        padding: 12px 24px;
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
        margin-bottom: 5px;
    }
    
    .dados {
        flex-grow: 0.4;
        padding: 20px;
        text-align: left;

        p {
            border: 1px solid $primary-color;
            color: $primary-color;
        }


        .label {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #2D4E55;
            margin-left: 10px;
        }
        
        .value {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0px;
            color: #232424;
            margin-left: 5px;
            margin-right: 5px;

        }
    }            
}